@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #9273c3, #4f75b6);
    font-family: 'Heebo', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 8% auto; 
    /* height: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
    justify-content: center;
    width: 28%;
    padding: 2.5%;
    border-radius: 7px;
    background: rgba(255,255,255, .2);
}

.box:nth-of-type(2) {
    -webkit-transform: translateY(-40px);
}

.box div {
    display: block;
    border-bottom: 1px solid rgba(0,0,0, .2);
    width: 100%;
}


h2 {
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(0,0,0, .2);
    font-weight: 800;
    font-size: 28px;
}

p {
    margin: 3% auto;
}

p:nth-of-type(1) {
    margin: 15% auto;
    text-align: center;
}

.big-font {
    font-family: 'Lora', serif;
    font-size: 50px;
    margin-bottom: 5%;
}

a {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: yellow;
    text-decoration: none;
    color: black;
}

@media (max-width: 768px){
    body {
        height: 100%;
        overflow: auto;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 90%;
        margin-top: 5%;
        padding: 5%;
    }
    .box:nth-of-type(2) {
        -webkit-transform: translateY(0);
    }
    h2 {
        font-size: 38px;
    }
    p:nth-of-type(1) {
        margin: 5% auto;
        text-align: center;
    }
    
}